@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Sans:wght@100&family=Lato:wght@100;300;400;700&family=Poppins:wght@100;300&family=Quicksand:wght@300;600&family=Ubuntu&family=Whisper&display=swap");
* {
    margin: 0;
    padding: 0;
}

.html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.header {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    margin-bottom: 2em;
}

.header h1 {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 0.2em;
}

.header span {
    color: red;
}

.header p {
    font-family: Cutive Mono, monospace;
    font-weight: 600;
    font-size: 1.2em;
}

.wrapper {
    width: 750px;
}

.search {
    width: 750px;
}

.search_input {
    background: #fafaf6;
    width: 90%;
    outline: none;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 5px auto;
    display: flex;
    font-size: 0.95em;
    box-shadow: -1px 23px 68px -1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: -1px 23px 68px -1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: -1px 23px 68px -1px rgba(0, 0, 0, 0.83);
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 20px 0px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: -1px 23px 68px -1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: -1px 23px 68px -1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: -1px 23px 68px -1px rgba(0, 0, 0, 0.83);
    text-align: center;
    padding: 15px 0px;
}

.image {
    border-radius: 50em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    align-self: center;
    overflow: hidden;
    border: 7px solid #ddd;
    width: 30%;
    margin: 30px 0px;
    margin-bottom: 0px;
}

.user_data {
    width: 90%;
    margin: 30px 35px;
    align-self: center;
    margin-bottom: 10px;
}

.user_data h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.user_data p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}

.user_data ul {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    width: 80%;
    margin: 30px auto;
}

.user_data ul li {
    list-style: none;
}

.repo a {
    display: inline-block;
    background: #ddd;
    text-decoration: none;
    padding: 4px 14px;
    font-size: 0.9em;
    border-radius: 6px;
    margin-right: 5px;
    margin-bottom: 12px;
    color: #000;
    font-weight: 500;
}

@media (max-width: 800px) {
    .wrapper {
        width: 90%;
    }
    .search {
        width: 90%;
        height: 10em;
    }
    .user_data ul {
        width: 100%;
        text-align: center;
        font-size: 0.9em;
    }
    .user_data h2 {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
    }
    .user_data p {
        font-size: 0.9em;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
    }
    .user_data {
        margin-top: 0em;
    }
    .header h1 {
        margin: 0 auto;
        font-size: 2em;
    }
    .header p {
        font-size: 0.9em;
    }
    .header {
        margin-top: 10px;
    }
}